add_service(dataservice_app, qtitetherservice_service)

allow dataservice_app qtitetherservice_service:service_manager { add };
allow dataservice_app ipa_dev:chr_file { read write };
allow dataservice_app qmuxd_socket:dir { search };
